{{#each this}}
<li class="list-item">
  <div class='flag'><img src="{{flags.svg}}" alt="{{name.official}}" width="30px" height="20px"></div>
  <div class='name'>{{this.name.official}}</div>
</li>
{{/each}}