  <div class='modal flex'>
    <div class='modal-top'>
      <span class='modal-name js-modal-name'></span>
      <button class='button --close-modal' type='button' data-close-modal>
        <img src="./images/cross.svg" alt="">
      </button>
    </div>
    <div class='modal-overflow js-modal-overflow'>
      <div class='modal-content js-modal-content'></div>
    </div>
  </div>
